In [4]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/61/11/1812ef6cbd7433ad240f72161ce5f84c4c450cede4db080365d371d29117/pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata
  Using cached pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Obtaining dependency information for numpy<2,>=1.23.2 from https://files.pythonhosted.org/packages/3f/6b/5610004206cf7f8e7ad91c5a85a8c71b2f2f8051a0c0c4d5916b76d6cbb2/numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\ipl-score-predictor\ipl\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in e:\ipl-score-predictor\ipl\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 653.6 kB/s eta 0:00:18
    --------------------------------------- 0.2/11.6 MB 1.5 MB/s eta 0:00:08
   - -------------------------------------- 0.3/11.6 MB 2.1 MB/s eta 0:00:06
   - -------------------------------------- 0.4/11.6 MB 1.9 MB/s eta 0:00:06
   - -------------------------------------- 0.5/11.6 MB 2.1 MB/s eta 0:00:06
   -- ------------------------------------- 0.6/11.6 MB 2.3 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/11.6 MB 2.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/11.6 MB 2.5 MB/s eta 0:00:05
   --- ------------------------------------ 1.1/11.6 MB 2.6 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/11.6 MB 2.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.4/11.6 MB 2.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.6 MB 2.8 MB/s eta 0:00:04
   ----- ---------------------------------- 1.7/11.6 MB 2.8 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.6 MB 2.8 MB/s eta 0:00:04
   ------ --------------------------------- 2.0/11.6 MB 2.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/11.6 MB 2.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.3/11.6 MB 2.9 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/11.6 MB 2.9 MB/s eta 0:00:04
   -------- ------------------------------- 2.5/11.6 MB 2.9 MB/s eta 0:00:04
   --------- ------------------------------ 2.7/11.6 MB 2.9 MB/s eta 0:00:04
   --------- ------------------------------ 2.9/11.6 MB 2.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 3.0 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.6 MB 3.0 MB/s eta 0:00:03
   ----------- ---------------------------- 3.3/11.6 MB 3.0 MB/s eta 0:00:03
   ----------- ---------------------------- 3.5/11.6 MB 3.0 MB/s eta 0:00:03
   ------------ --------------------------- 3.6/11.6 MB 3.0 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.6 MB 3.0 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.6 MB 3.0 MB/s eta 0:00:03
   ------------- -------------------------- 4.1/11.6 MB 3.0 MB/s eta 0:00:03
   -------------- ------------------------- 4.2/11.6 MB 3.0 MB/s eta 0:00:03
   --------------- ------------------------ 4.4/11.6 MB 3.0 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.6 MB 3.0 MB/s eta 0:00:03
   ---------------- ----------------------- 4.7/11.6 MB 3.0 MB/s eta 0:00:03
   ---------------- ----------------------- 4.8/11.6 MB 3.0 MB/s eta 0:00:03
   ---------------- ----------------------- 4.9/11.6 MB 3.0 MB/s eta 0:00:03
   ----------------- ---------------------- 5.1/11.6 MB 3.0 MB/s eta 0:00:03
   ----------------- ---------------------- 5.2/11.6 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 5.4/11.6 MB 3.0 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.6 MB 3.1 MB/s eta 0:00:02
   ------------------- -------------------- 5.7/11.6 MB 3.0 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.6 MB 3.0 MB/s eta 0:00:02
   -------------------- ------------------- 6.0/11.6 MB 3.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.1/11.6 MB 3.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.6 MB 3.1 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.6 MB 3.1 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.6 MB 3.1 MB/s eta 0:00:02
   ----------------------- ---------------- 6.7/11.6 MB 3.1 MB/s eta 0:00:02
   ----------------------- ---------------- 6.9/11.6 MB 3.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.0/11.6 MB 3.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.2/11.6 MB 3.1 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 3.1 MB/s eta 0:00:02
   ------------------------- -------------- 7.5/11.6 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.6 MB 3.1 MB/s eta 0:00:02
   --------------------------- ------------ 7.8/11.6 MB 3.1 MB/s eta 0:00:02
   --------------------------- ------------ 8.0/11.6 MB 3.1 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 3.1 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 3.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.6 MB 3.1 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.6 MB 3.1 MB/s eta 0:00:01
   ----------------------------- ---------- 8.7/11.6 MB 3.1 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 3.1 MB/s eta 0:00:01
   ------------------------------ --------- 9.0/11.6 MB 3.1 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 3.1 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 3.1 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 3.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 3.2 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 3.2 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 3.2 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------- ----------------------- 143.4/345.4 kB 4.2 MB/s eta 0:00:01
   --------------------------------- ------ 286.7/345.4 kB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 3.6 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
#importing libs
#pickle is used to save the model created
import pandas as pd
import pickle

#loading the dataset
df = pd.read_csv('ipl.csv')

In [6]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [7]:
# --- Data Cleaning ---
# Removing unwanted columns
columns_to_remove = ['mid', 'batsman', 'bowler', 'striker', 'non-striker']
df.drop(labels=columns_to_remove, axis=1, inplace=True)

In [8]:
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [9]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [10]:
#Removing unwanted teams from the dataset
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals', 'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'Delhi Daredevils', 'Sunrisers Hyderabad']

In [11]:
#filtering the consistent teams
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]

In [12]:
#removing the first 5 overs data in every match
df = df[df['overs']>=5.0]

In [14]:
print(df['bat_team'].unique())
print(df['bowl_team'].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Delhi Daredevils' 'Sunrisers Hyderabad']
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Rajasthan Royals' 'Mumbai Indians' 'Chennai Super Kings'
 'Kolkata Knight Riders' 'Sunrisers Hyderabad']

In [15]:
#converting the column 'date' from string into datetime object
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [16]:
# --- Data Preprocessing ---
#Converting categorical features using OneHotEncoding method(This is a process by which categorical variables are converted into a form that could be provided to machine learning algorithms to improve their performance.)
encoded_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team'])

In [17]:
encoded_df.head()

,date,venue,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
32,2008-04-18,M Chinnaswamy Stadium,61,0,5.1,59,0,222,False,False,...,False,False,False,False,False,False,False,False,True,False
33,2008-04-18,M Chinnaswamy Stadium,61,1,5.2,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
34,2008-04-18,M Chinnaswamy Stadium,61,1,5.3,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
35,2008-04-18,M Chinnaswamy Stadium,61,1,5.4,59,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False
36,2008-04-18,M Chinnaswamy Stadium,61,1,5.5,58,1,222,False,False,...,False,False,False,False,False,False,False,False,True,False

In [18]:
#splitting the data into train and test set
X_train = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year <= 2016]
X_test = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year >= 2017]

In [19]:
y_train = encoded_df[encoded_df['date'].dt.year <= 2016]['total'].values
y_test = encoded_df[encoded_df['date'].dt.year >= 2017]['total'].values

In [20]:
#removing the 'date' column
X_train.drop(labels='date', axis=True, inplace=True)
X_test.drop(labels='date', axis=True, inplace=True)

MODEL BUILDING

In [22]:
#linear regression model
from sklearn.linear_model import LinearRegression